In [1]:
import matplotlib.pyplot as plt 
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
anime_path = "archive/anime.csv"

anime_df = pd.read_csv(anime_path)

anime_df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [3]:
anime_df.axes

[RangeIndex(start=0, stop=12294, step=1),
 Index(['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members'], dtype='object')]

In [4]:
anime_df['genre']

0                     Drama, Romance, School, Supernatural
1        Action, Adventure, Drama, Fantasy, Magic, Mili...
2        Action, Comedy, Historical, Parody, Samurai, S...
3                                         Sci-Fi, Thriller
4        Action, Comedy, Historical, Parody, Samurai, S...
                               ...
12289                                               Hentai
12290                                               Hentai
12291                                               Hentai
12292                                               Hentai
12293                                               Hentai
Name: genre, Length: 12294, dtype: object

In [5]:
anime_df['genre'].explode()

0                     Drama, Romance, School, Supernatural
1        Action, Adventure, Drama, Fantasy, Magic, Mili...
2        Action, Comedy, Historical, Parody, Samurai, S...
3                                         Sci-Fi, Thriller
4        Action, Comedy, Historical, Parody, Samurai, S...
                               ...
12289                                               Hentai
12290                                               Hentai
12291                                               Hentai
12292                                               Hentai
12293                                               Hentai
Name: genre, Length: 12294, dtype: object

In [6]:
# anime_drop = anime_df[(anime_df[["genre"]] == 'Hentai')]
# anime2 = anime_df.drop(['genre'] == "Hentai", axis=0, inplace=False)
anime2 = anime_df.loc[anime_df['genre'] !="Hentai"]

In [7]:
anime2

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12272,18197,Nudl Nude,"Comedy, Hentai, Parody",OVA,1,4.14,186
12273,18199,Nudl Nude 2,"Comedy, Hentai, Parody",OVA,1,4.00,146
12277,12397,Original Video Romance Animation,"Comedy, Hentai",OVA,2,4.66,176
12278,17833,Pink no Curtain,"Hentai, Slice of Life",OVA,1,3.61,138
12285,34399,Taimanin Asagi 3,"Demons, Hentai, Supernatural",OVA,Unknown,NaN,485

In [8]:
# anime3 = anime2.explode('genre').drop_duplicates()
# anime3
# from ast import literal_eval
# anime2['genre'] = anime2['genre'].apply(literal_eval)
# anime2['genre'].explode()
check_list = isinstance(anime2['genre'], list)

print(check_list)

False

In [9]:
anime2['genre'].to_string()
# animelist = animelist['genre'].split()
anime2['genre'].str.split().explode()
# anime2

0              Drama,
0            Romance,
0             School,
0        Supernatural
1             Action,
             ...
12278              of
12278            Life
12285         Demons,
12285         Hentai,
12285    Supernatural
Name: genre, Length: 38814, dtype: object

In [10]:
anime3 = [anime2['genre'].to_string()]

anime3 = anime2['genre'].str.split().explode()

# anime3 = anime2.loc[anime2['genre'] !="Hentai"]
anime3

0              Drama,
0            Romance,
0             School,
0        Supernatural
1             Action,
             ...
12278              of
12278            Life
12285         Demons,
12285         Hentai,
12285    Supernatural
Name: genre, Length: 38814, dtype: object

In [11]:
anime3 = pd.DataFrame(anime3)
anime3

              genre
0            Drama,
0          Romance,
0           School,
0      Supernatural
1           Action,
...             ...
12278            of
12278          Life
12285       Demons,
12285       Hentai,
12285  Supernatural

[38814 rows x 1 columns]

In [12]:
anime3

              genre
0            Drama,
0          Romance,
0           School,
0      Supernatural
1           Action,
...             ...
12278            of
12278          Life
12285       Demons,
12285       Hentai,
12285  Supernatural

[38814 rows x 1 columns]

In [28]:
merge = anime2.merge(anime3, how = 'right', on= "genre")
merge

,anime_id,name,genre,type,episodes,rating,members
0,5365.0,Tsumiki no Ie,Drama,Movie,1,8.27,45189.0
1,6211.0,Tokyo Magnitude 8.0,Drama,TV,11,8.19,121349.0
2,29093.0,Grisaia no Meikyuu: Caprice no Mayu 0,Drama,Special,1,8.05,70039.0
3,1520.0,Black Jack,Drama,OVA,12,7.88,14414.0
4,2405.0,Hello! Lady Lynn,Drama,TV,36,7.85,1757.0
...,...,...,...,...,...,...,...
953596,NaN,NaN,Yuri,NaN,NaN,NaN,NaN
953597,NaN,NaN,Yuri,NaN,NaN,NaN,NaN
953598,NaN,NaN,Yuri,NaN,NaN,NaN,NaN
953599,NaN,NaN,Yuri,NaN,NaN,NaN,NaN
953600,NaN,NaN,"Vampire,",NaN,NaN,NaN,NaN

In [29]:
merge = merge.loc[merge['genre'] !=("Hentai")]
merge

,anime_id,name,genre,type,episodes,rating,members
0,5365.0,Tsumiki no Ie,Drama,Movie,1,8.27,45189.0
1,6211.0,Tokyo Magnitude 8.0,Drama,TV,11,8.19,121349.0
2,29093.0,Grisaia no Meikyuu: Caprice no Mayu 0,Drama,Special,1,8.05,70039.0
3,1520.0,Black Jack,Drama,OVA,12,7.88,14414.0
4,2405.0,Hello! Lady Lynn,Drama,TV,36,7.85,1757.0
...,...,...,...,...,...,...,...
953596,NaN,NaN,Yuri,NaN,NaN,NaN,NaN
953597,NaN,NaN,Yuri,NaN,NaN,NaN,NaN
953598,NaN,NaN,Yuri,NaN,NaN,NaN,NaN
953599,NaN,NaN,Yuri,NaN,NaN,NaN,NaN
953600,NaN,NaN,"Vampire,",NaN,NaN,NaN,NaN

In [30]:
merge = merge.loc[merge['genre'] !=("Yuri")]
merge

,anime_id,name,genre,type,episodes,rating,members
0,5365.0,Tsumiki no Ie,Drama,Movie,1,8.27,45189.0
1,6211.0,Tokyo Magnitude 8.0,Drama,TV,11,8.19,121349.0
2,29093.0,Grisaia no Meikyuu: Caprice no Mayu 0,Drama,Special,1,8.05,70039.0
3,1520.0,Black Jack,Drama,OVA,12,7.88,14414.0
4,2405.0,Hello! Lady Lynn,Drama,TV,36,7.85,1757.0
...,...,...,...,...,...,...,...
953487,NaN,NaN,"Hentai,",NaN,NaN,NaN,NaN
953488,NaN,NaN,"Hentai,",NaN,NaN,NaN,NaN
953489,NaN,NaN,"Hentai,",NaN,NaN,NaN,NaN
953490,NaN,NaN,"Hentai,",NaN,NaN,NaN,NaN
953600,NaN,NaN,"Vampire,",NaN,NaN,NaN,NaN

In [31]:
merge = merge.loc[merge['genre'] !=("Hentai,")]
merge

,anime_id,name,genre,type,episodes,rating,members
0,5365.0,Tsumiki no Ie,Drama,Movie,1,8.27,45189.0
1,6211.0,Tokyo Magnitude 8.0,Drama,TV,11,8.19,121349.0
2,29093.0,Grisaia no Meikyuu: Caprice no Mayu 0,Drama,Special,1,8.05,70039.0
3,1520.0,Black Jack,Drama,OVA,12,7.88,14414.0
4,2405.0,Hello! Lady Lynn,Drama,TV,36,7.85,1757.0
...,...,...,...,...,...,...,...
953236,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953237,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953238,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953239,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953600,NaN,NaN,"Vampire,",NaN,NaN,NaN,NaN

In [32]:
merge = merge.loc[merge['genre'] !=("Yaoi")]
merge

,anime_id,name,genre,type,episodes,rating,members
0,5365.0,Tsumiki no Ie,Drama,Movie,1,8.27,45189.0
1,6211.0,Tokyo Magnitude 8.0,Drama,TV,11,8.19,121349.0
2,29093.0,Grisaia no Meikyuu: Caprice no Mayu 0,Drama,Special,1,8.05,70039.0
3,1520.0,Black Jack,Drama,OVA,12,7.88,14414.0
4,2405.0,Hello! Lady Lynn,Drama,TV,36,7.85,1757.0
...,...,...,...,...,...,...,...
953236,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953237,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953238,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953239,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953600,NaN,NaN,"Vampire,",NaN,NaN,NaN,NaN

In [33]:
merge = merge.loc[merge['genre'] !=("Yuri,")]
merge

,anime_id,name,genre,type,episodes,rating,members
0,5365.0,Tsumiki no Ie,Drama,Movie,1,8.27,45189.0
1,6211.0,Tokyo Magnitude 8.0,Drama,TV,11,8.19,121349.0
2,29093.0,Grisaia no Meikyuu: Caprice no Mayu 0,Drama,Special,1,8.05,70039.0
3,1520.0,Black Jack,Drama,OVA,12,7.88,14414.0
4,2405.0,Hello! Lady Lynn,Drama,TV,36,7.85,1757.0
...,...,...,...,...,...,...,...
953236,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953237,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953238,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953239,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953600,NaN,NaN,"Vampire,",NaN,NaN,NaN,NaN

In [34]:
merge = merge.loc[merge['genre'] !=("Yaoi,")]
merge

,anime_id,name,genre,type,episodes,rating,members
0,5365.0,Tsumiki no Ie,Drama,Movie,1,8.27,45189.0
1,6211.0,Tokyo Magnitude 8.0,Drama,TV,11,8.19,121349.0
2,29093.0,Grisaia no Meikyuu: Caprice no Mayu 0,Drama,Special,1,8.05,70039.0
3,1520.0,Black Jack,Drama,OVA,12,7.88,14414.0
4,2405.0,Hello! Lady Lynn,Drama,TV,36,7.85,1757.0
...,...,...,...,...,...,...,...
953236,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953237,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953238,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953239,NaN,NaN,Arts,NaN,NaN,NaN,NaN
953600,NaN,NaN,"Vampire,",NaN,NaN,NaN,NaN

In [35]:
merge2= merge.dropna()
merge2

,anime_id,name,genre,type,episodes,rating,members
0,5365.0,Tsumiki no Ie,Drama,Movie,1,8.27,45189.0
1,6211.0,Tokyo Magnitude 8.0,Drama,TV,11,8.19,121349.0
2,29093.0,Grisaia no Meikyuu: Caprice no Mayu 0,Drama,Special,1,8.05,70039.0
3,1520.0,Black Jack,Drama,OVA,12,7.88,14414.0
4,2405.0,Hello! Lady Lynn,Drama,TV,36,7.85,1757.0
...,...,...,...,...,...,...,...
924483,17903.0,Otokogi,Seinen,OVA,3,5.83,88.0
924484,9749.0,Shin Otokogi,Seinen,OVA,2,7.08,85.0
924486,18743.0,Money Wars: Nerawareta Waterfront Keikaku,Seinen,OVA,1,5.05,130.0
924487,17903.0,Otokogi,Seinen,OVA,3,5.83,88.0
924488,9749.0,Shin Otokogi,Seinen,OVA,2,7.08,85.0

In [48]:
merge3 = merge2.drop_duplicates()
merge3

,anime_id,name,genre,type,episodes,rating,members
0,5365.0,Tsumiki no Ie,Drama,Movie,1,8.27,45189.0
1,6211.0,Tokyo Magnitude 8.0,Drama,TV,11,8.19,121349.0
2,29093.0,Grisaia no Meikyuu: Caprice no Mayu 0,Drama,Special,1,8.05,70039.0
3,1520.0,Black Jack,Drama,OVA,12,7.88,14414.0
4,2405.0,Hello! Lady Lynn,Drama,TV,36,7.85,1757.0
...,...,...,...,...,...,...,...
923376,29918.0,Go-hiki no Kozaru-tachi,Demons,Movie,1,3.88,78.0
923377,29917.0,Uriko-hime to Amanojaku,Demons,Movie,1,4.41,71.0
923394,18743.0,Money Wars: Nerawareta Waterfront Keikaku,Seinen,OVA,1,5.05,130.0
923395,17903.0,Otokogi,Seinen,OVA,3,5.83,88.0
923396,9749.0,Shin Otokogi,Seinen,OVA,2,7.08,85.0

In [49]:
cleananime = (merge3.groupby(['anime_id','name', "type", 'episodes', 'rating', 'members'])
      .agg({'genre': lambda x: x.tolist()})
      .reset_index())

In [50]:
cleananime

,anime_id,name,type,episodes,rating,members,genre
0,485.0,Damekko Doubutsu,TV,26,7.43,8024.0,[Comedy]
1,580.0,Kogepan,TV,10,7.04,4436.0,[Comedy]
2,673.0,Mai-HiME Specials,Special,27,7.06,9210.0,[Comedy]
3,748.0,True Love Story,OVA,3,6.24,3409.0,[Romance]
4,983.0,Cosplay Complex: Extra Identification,OVA,1,5.90,2145.0,[Comedy]
...,...,...,...,...,...,...,...
1844,34412.0,Hashiri Hajimeta bakari no Kimi ni,Music,1,6.76,239.0,[Music]
1845,34453.0,Uma Musume: Pretty Derby,ONA,1,6.64,75.0,[Action]
1846,34490.0,Sushi Azarashi,TV,30,3.00,12.0,[Comedy]
1847,34503.0,Kochinpa! Dainiki,TV,24,3.40,75.0,[Comedy]
1848,34519.0,Mobile Suit Gakuen: G-Reco Koushien,Special,9,5.67,94.0,[Comedy]